#container{
  margin: 0 auto;
  max-width: 960px;
  min-width: 530px;
  padding: 2em;
  text-align: center;

}


h1 {
  font-family: Arial;
  font-size: 64px;
  margin: 10px auto 25px auto;
}

h2 {
  font-family: Arial;
  font-size: 32px;
  margin: 10px auto 25px auto;
}

h3{
  font-family: Arial;
  font-size: 24px;
  margin: 10px auto 25 px auto;
}

p {
  font-family: Arial;
  font-size: 14px;
}

nav {
	position: absolute;
	top: 2em;
	right: 2em;
}
nav ul {

	margin: 0;
	padding: 0;
}
nav ul li {
	display: inline-block;
	float: left;
	position: relative;
	padding: 5px;
	width: 150px;
	text-align: center;

}
nav ul li a {
  font-family: arial;
	color: #222;
	text-decoration: none;
	display: block;
}
nav ul li:hover {
	background-color: #FF0066;
}

nav ul ul {
	padding: 0;
	list-style: none;
	position: absolute;
	left: -9999px;
}
nav ul li ul li {
	width: 115px;
	display: block;
}
nav ul li:hover ul {
	left: 0;
	padding-top: 5px;
}

/* Sprockets Home */

#articles{
  font-family: arial;

}

#address{
  width: 30%;
  height: 30%;
  position: relative;
  float: center;

}

#phone{
  width: 30%;
  height: 30%;
  position: relative;
  float: center;
}

#hours{
  width: 30%;
  height: 30%;
  position: relative;
  float: center;
}
/* Products */

figcaption {
  font-family: Arial;
}

#products section{
  padding: 5px;
}

#alpha{
  width: 30%;
  height: 30%;
  position: relative;
  float: center;
}

#beta{
  width: 30%;
  height: 30%;
  position: relative;
  float: center;
}

#gamma{
  width: 30%;
  height: 30%;
  position: relative;
  float: center;

}

#delta{
  width: 30%;
  height: 30%;
  position: relative;
  float: center;
}
